<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">GitStash</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
{% if app.user %}
                <li><a href="{{ path('user', { user: app.user }) }}">Repositories</a></li>
                <li><a href="{{ path('user_settings') }}">Settings</a></li>
                <li><a href="{{ path('fos_user_security_logout') }}">Logout</a></li>
                <li class="divider-vertical"></li>
                <li><span class="navbar-text">{{ app.user }}</span> <img class="img-rounded"  style="margin-top: 15px;" src="{{ gravatar(app.user.email, 30) }}" /></li>
{% else %}
                <li><a href="{{ path('fos_user_security_login') }}">Login</a></li>
                <li><a href="{{ path('fos_user_registration_register') }}">Register</a></li>
{% endif %}
            </ul>
        </div>
    </div>
</nav>
