{% extends "::base.html.twig" %}

{% block title %}Repo {{ repo.name }}{% endblock %}

{% block body %}

    {% include "NoxLogicAppBundle:Repo:fragments/header.html.twig" %}

    <div class="row">
        <div class="col-xs-12">

            {% if git.existsInTree(tree.sha, file) %}
            <h2>{{ path | join("/") }}</h2>
            <div class="well">
                <pre><code class="php">{{ git.contentFromTree(tree.sha, file).contents }}</code></pre>
            </div>
            {% else %}
                <div class="well">
                    {{ dump() }}
                </div>
            {% endif %}

        </div>
    </div>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    <link rel="stylesheet" href="/components/highlightjs/styles/default.css">
{% endblock %}

{% block javascripts %}
    {{ parent() }}


    <script type="text/javascript" src="/components/highlightjs/highlight.pack.min.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>

    {% include "NoxLogicAppBundle:Repo:fragments/header_js.html.twig" %}
{% endblock %}
