{% extends "::base.html.twig" %}

{% block title %}Repo {{ repo.name }}{% endblock %}

{% block body %}

    <h3>Repo name: {{ repo.name }}</h3>
    <h4>Repo description: {{ repo.description }}</h4>


{% if git.branches|length == 0 %}

    <div class="well">
        <h3>Empty repository</h3>

        <b>Usage:</b>
        <pre>
$ git clone git@gitstash.io/user/repo.git

$ touch README.md
$ git add README.md
$ git commit -m "initial commit"
$ git push origin master
        </pre>

    </div>

{% else %}

    <h2>Branches</h2>

    <form class="form-inline">
        <div class="form-group">
            <label for="branch_select">Select branch:</label>
            <select id="branch_select" class="form-control">
            {% for name, sha in git.branches %}
                <option data-href="{{ path('repo_branch', { 'user' : repo.owner.username, 'repo' : repo.name, 'branch' : name }) }}">{{ name }}</option>
            {% endfor %}
            </select>
        </div>
        <div class="form-group">
            <button id="branch_submit" class="form-control btn btn-success btn-xs">Go <i class="fa fa-play"></i></button>
        </div>
    </form>

    <h2>Tags</h2>
    {{ dump(git.tags) }}

{% endif %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function() {
           $('#branch_submit').click(function (e) {
               window.location = $('#branch_select option:selected').data('href');
               e.preventDefault();
           });
        });
    </script>
{% endblock %}
