{% extends "::base.html.twig" %}

{% block title %}Repo {{ repo.name }}{% endblock %}

{% block body %}

    {% include "NoxLogicAppBundle:Repo:fragments/header.html.twig" %}



    <div class="row">
        <div class="col-xs-12">

    <table class="table table-bordered table-striped table-hover table-condensed">
        <tr><th>Path</th><th>Log</th><th>Sha1</th><th>Date</th></tr>

        {# Display .. when we are inside a subdirectory #}
        {% if crumbtrail|length > 1 %}
        <tr>
            <th colspan="4">
                <i class="fa fa-folder-o"></i> <a href="{{ crumbtrail[(crumbtrail|length)-1].href }}">..</a>
            </th>
        </tr>
        {% endif %}

    {% for item in git.treeInfo(commit, path) %}
         <tr>
             <td>
                {% set p = "/" ~ path %}
                {% if item.item.isDir %}
                    {% if p == "/" %}
                        {% set p = p ~ item.name %}
                    {% else %}
                        {% set p = p ~ "/" ~ item.name %}
                    {% endif %}
                    <i class="fa fa-folder-o"></i> <a href="{{ path('repo_tree', { user: repo.owner.username, repo:repo.name, tree: branch, path: p }) }}">{{ item.name }}</a>
                {% else %}
                    <i class="fa fa-file-o"></i> <a href="{{ path('repo_blob_view', { user: repo.owner.username, repo:repo.name, tree: branch, path: p ~ "/" ~ item.name }) }}">{{ item.name }}</a>
                {% endif %}
             </td>
             <td>{{ item.commit_log }}</td>
             <td><a href="#">{{ item.sha | slice(0, 8)}}</a></td>
             <td><time class="timeago" datetime="{{ item.commit_date|date("c") }}">{{ item.commit_date|date("c") }} {{ item.commit_date|date("Y M d H:i:s") }}</time></td>
         </tr>
    {% endfor %}
    </table>

        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">

    {% if git.existsInTree(tree.sha, 'README.md') %}
    <h2>ReadMe</h2>
    <div class="well">
        {{ git.contentFromTree(tree.sha, 'README.md').contents | markdown }}
    </div>
    {% endif %}

        </div>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% include "NoxLogicAppBundle:Repo:fragments/header_js.html.twig" %}
{% endblock %}
