{% extends "::base.html.twig" %}

{% block title %}Settings {{ user.username }}{% endblock %}

{% block body %}

    <h1>Settings</h1>

    <p>Here be user settings</p>


    <h2>SSH Keys</h2>

    <table class="table table-bordered table-responsive table-striped">
        <thead>
        <tr>
            <th>Key</th>
            <th>Last used</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
{% for key in user.sshKeys %}
        <tr>
            <td>username@server.dev<br><small>{{ key.fingerprint | split('', 2) | join(":") | upper }}</small></td>
            <td>
{% if app.user.lastLogin %}
                <time class="timeago" datetime="{{ app.user.lastLogin |date("c") }}">{{ app.user.lastLogin|date("c") }} {{ app.user.lastLogin|date("Y M d H:i:s") }}</time>
{% else %}
    Never
{% endif %}
            </td>
            <td><button class="btn btn-xs btn-danger">Remove key</button></td>
        </tr>
{% endfor %}
    </table>
    <button class="btn btn-xs btn-success">Add new SSH key</button>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/js/jquery.timeago.js" type="text/javascript"></script>

    <script>
        $(document).ready(function() {
            jQuery("time.timeago").timeago();
        });
    </script>
{% endblock %}
