{% extends "::base.html.twig" %}

{% block body %}

<div class="well">
    <h1>Welcome to GitStash</h1>
    <p>GitStash is a open source github / gitlab clone.</p>

    <p>The site is still in very early beta stage, so do <u>not</u>:<p>
    <ul>
        <li>Hosting your private repositories.</li>
        <li>Use it as your "main" git repository.</li>
        <li>Become dependent on the site.</li>
    </ul>
</div>

<h2>Some random public repositories</h2>

<table class="table table-bordered">
{% for repo_row in repos|batch(3) %}
    <tr>
        {% for repo in repo_row %}
            <td class="col-xs-3 text-center">
                <h3>
                    <a href="{{ path('repo_tree', { user: repo.owner.username, repo: repo.name, tree: 'master', path: '/' }) }}">{{ repo.owner.username }} / {{ repo.name }}</a>
                </h3>
                <img class="center-block img-responsive img-rounded" src="http://lorempixel.com/125/125/?{{ random() }}">

                <p>{{ repo.description }}</p>

                <i class="fa fa-star"></i> {{ random(999) }} stars
                <i class="fa fa-eye"></i> {{ random(999) }} viewers
            </td>
        {% endfor %}
    </tr>
{% endfor %}
</table>

{% endblock %}
